@media (min-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    main {
        position: relative;
    }

    picture img {
        height: 70vh;
        min-height: 560px;
        object-fit: cover;
    }

    .dados,
    .clima {
        position: absolute;
        width: 18rem;
        margin: 0;
        overflow: hidden;
        background-color: var(--cor-card);
    }

    .dados {
        top: 2rem;
        left: 2rem;
    }

    .clima {
        bottom: 2rem;
        right: 2rem;
    }

    h2 {
        margin: calc(var(--espaco) * -1) calc(var(--espaco) * -1) var(--espaco);
        padding: 0.5rem var(--espaco);
        background-color: var(--cor-verde);
        color: #ffffff;
        text-align: left;
    }

    .clima h2::after {
        content: " ⛅";
    }

    .icone-clima {
        display: none;
    }
}